// colors
$colors:("primary":#db9e3f,
    "info":#4b67af,
    "blue":#4394e4,
    "blue-1":#1f3695,
    "danger":#791a16,
    "white":#fff,
    "light":#f9f9f9,
    "light-1":#d4d9d1,
    "black":#333,
    "dark-1":#343440,
    "dark":#222,
    "grey-1":#666,
    "grey":#999);
$border-color:map-get($colors,'light-1');
$base-font-size:1rem;
// font-size
$font-sizes: (xxs: .615385rem, //8px
    xs: .769231rem, //10px
    sm: .923077rem, //12px
    md:1rem, //13px
    lg:1.076923rem, //14px
    xl:1.230769rem //16px
);

$flex-js: (start: flex-start,
    end:flex-end,
    center:center,
    between:space-between,
    around:space-around,
);

$flex-ai: (start: flex-start,
    end:flex-end,
    center:center,
    stretch:stretch);

// spacing
// .mt-1 margin top level 1 .pb2 padding bottom
$spacing-types: (m:margin, p:padding);
$spacing-direction:(t:top, r:right, b:bottom, l:left);
$spacing-base-size: 1rem;
$spacing-size:(0:0, 1:0.25, 2:0.5, 3:1, 4:1.5, 5:3);